{
	"AppId": "com.rizing.sam40.eql",
	"DestinationName": "DEST_SAM40_PPROP_EQL",
	"OfflineEnabled": false,
	"ServiceUrl": "/destinations/mobileservices"
}